*{
    padding: 0;
    margin: 0;
}

.navbar{
    width: 100%;
    height: 3rem;
    display: flex;
}

.nav-l{
    width: 20%;
}

.logo h1{
    padding: 0.5rem;
    font-size: 2rem;
    color: #2A5086;
}
.logo h1 span{
    color: #F48030;
}

.nav-r{
    width: 80%;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 5rem;
    padding: 1rem;
}

ul li a{
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    padding: 0.3rem;
    border-radius: 0.7rem;
    transition: all 0.3s ease-in-out;
}

ul li a:hover{
    color: white;
    background-color: #F48030;
}

/* ------hero-------- */

.home{
    width: 100%;
    height: 100vh;
    background-image: url('Images/Hero.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
}

.right, .left{
    width: 50%;
    height: 90%;
}

.left h1{
    margin: 2rem;
    margin-top: 7rem;
    font-size: 5rem;
    color: #2A5086;
}

.left h1 span{
    color: #F48030;
    margin: 2rem;
}

.left p{
    margin: 0.8rem;
    margin-left: 1.5rem;
}

/* --------services------ */

.serv{
    width: 100%;
    height: 100vh;
    display: flex;
    background: #2A5086;
    justify-content: center;
    align-items: center;
}

.contain{
    width: 90%;
    height: 85%;
    background: rgb(243, 242, 242);
    border-radius: 1rem;
    box-shadow: 10px 10px 10px gray;

}

.text h1{
    font-size: 3rem;
    margin: 2rem;
    margin-bottom: 1rem;
}

.text p{
    font-size: 1rem;
    margin: 2rem;
    margin-top: 0;
}